---
import App from '../Components/App.jsx';
import CarList from '../Components/CarList.jsx';
import '../styles/style.css'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astro + React</title>
  </head>
  <body>
    <App />
  </body>
</html>
